body {
    margin: 0;
    height: 100dvh;

    display: grid;
    place-items: center;
    overflow: hidden;


    perspective: 800px;

    * {
        transform-style: preserve-3d;
    }

}

html,
body {
    overflow: hidden;
    position: relative;
    height: 100%;
}


p:nth-of-type(1) {
    background-color: var(--gras);
    background-image: var(--grond-gradient-zomer);
    height: 35%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    clip-path: polygon(0 1%, 0% 100%, 100% 100%);
    z-index: 5;
    margin: 0;
}

p:nth-of-type(2){
    background-color: var(--gras);
    background-image: var(--grond-gradient-zomer2);
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;


    clip-path: polygon(100% 8%, 0% 100%, 100% 100%);
    z-index: 6;
    margin: 0;
}

main {
    background-color: var(--lucht);
    background-image: var(--lucht-gradient-zomer);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}




/* zon */
main>div:nth-of-type(1) {
    background-color: transparent;
    background-image: radial-gradient(circle at 25% 25% in oklch,
            yellow 25%,
            gold 50%,
            orange 66%,
            transparent);
    border-radius: 50%;
    height: 22dvh;
    width: 22dvh;
    position: absolute;
    top: 2%;
    left: 82%;
    box-shadow: 0 0 49px 9px yellow, 0 0 2px -2px yellow inset;

    overflow: hidden;
    position: relative;
    z-index: 2;

}

/* ################## */
/*    Vliegcontainer  */
/* ################## */

section{
    align-items: center;
    display: flex;
    position: relative;
    width: 50em;
    height: clamp(1em, 6em, 10em);
    /* Pas aan op gewenste hoogte */
    overflow: hidden;
    /* Zorgt dat niets buiten de container zichtbaar is */
    background-color: transparent;
    /* Geeft een luchtkleur als achtergrond */
    container-type: inline-size;
}




/* ################## */
/*     vliegtuig      */
/* ################## */



@keyframes moveimg {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-100%);
    }
}

img {
    height: 80%;
    object-fit: cover;
    /* animation: moveimg 60s linear infinite; */
    /* animation-delay: -20s; */
    z-index: 3;
}




/* ################## */
/*      banner        */
/* ################## */

@property --background {
    syntax: "<color>";
    inherits: true;
    initial-value: #f09;
}

@property --color {
    syntax: "<color>";
    inherits: true;
    initial-value: #fff;
}




body>main>section {
    position: absolute;
    top: 1.5em;
    /* Verplaats naar beneden */

    --wave-angle: 10deg;
    --duration: 1s;
    --delay: calc(var(--duration) / 6);
    --easing: cubic-bezier(0.37, 0, 0.63, 1);
    line-height: 2;
    font-size: 3rem;
    font-family: "summer", monospace;
    font-weight: 700;
    text-transform: uppercase;
    /* animation: wave var(--duration) calc(var(--duration) / -2) var(--easing)
      infinite alternate-reverse; */
    transform-origin: center left;
    animation: moveimg 40s linear infinite;
    animation-delay: -30s;



    span {
        display: flex;
        animation: wave var(--duration) var(--easing) infinite alternate,
        darken var(--duration) var(--easing) infinite alternate;
        transform-origin: left center;
        animation-delay: calc(var(--index) * calc(var(--delay) * -1));

        >span {
            margin-inline-start: -1px;
        }

        i {
            display: block;
            font-style: normal;
            min-width: .4ch;
            /* width: 1.3ch; */
            background: var(--background);
            color: var(--color);
            transition: background 0.2s ease-out;
            text-align: center;
            height: 100%;
            box-shadow: inset 0 2px 1px rgb(255 255 255 / 0.4);
            text-shadow: -3px 3px 0 rgb(0 0 0 / 0.2);
        }

    }

    span {
        --index: 0;

        span {
            --index: 1;

            span {
                --index: 2;

                span {
                    --index: 3;

                    span {
                        --index: 4;

                        span {
                            --index: 5;

                            span {
                                --index: 6;

                                span {
                                    --index: 7;

                                    span {
                                        --index: 8;

                                        span {
                                            --index: 9;

                                            span {
                                                --index: 10;

                                                span {
                                                    --index: 11;

                                                    span {
                                                        --index: 12;

                                                        span {
                                                            --index: 13;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    main>section>span>i {
        padding-inline-start: 1ch;
        border-radius: 5px 0 0 5px;
    }

    span:not(:has(span)) i {
        padding-inline-end: 1.5ch;
        border-radius: 0 5px 5px 0;
        clip-path: polygon(0 0, 100% 0, calc(100% - 1ch) 50%, 100% 100%, 0 100%);
    }

    z-index: 10;

}

@keyframes wave {
    from {
        transform: rotateY(calc(var(--wave-angle) + 0.4deg * var(--index, 0)));
    }

    to {
        transform: rotateY(calc(var(--wave-angle) * -1 + var(--index, 0) * -0.4deg));
    }
}

@keyframes darken {
    from {
        --background: var(--licht-banner);
        --color: var(--lichte-tekst);
    }

    to {
        --background: var(--donker-banner);
        --color: var(--donkere-tekst);
    }
}