/* ######################## */
/* veranderen van seizoenen */
/* ######################## */

/* maakt de knoppen aan */

 /* Seasons control panel */
 body> div:nth-of-type(1) {
    position: fixed;
    bottom: -3%;
    width: max-content;
    /* background: rgb(179 230 224 / 13%); */
    padding: 1dvh 2dvh;
    border-radius: 10px;
    z-index: 100;
    display: flex;
    gap: 19dvh;

    label {
        position: relative;
        width: 100px;
        height: 100px;

        position: relative;
        div {
            position: absolute;
            width: 40px;
            height: 60px;
            background-color: pink;
            border-radius: 50%;
            opacity: 0.9;
         
        }



        

        div:nth-child(1) { transform: rotate(0deg) translateY(-30px); }
        div:nth-child(2) { transform: rotate(72deg) translateY(-30px); }
        div:nth-child(3) { transform: rotate(144deg) translateY(-30px); }
        div:nth-child(4) { transform: rotate(216deg) translateY(-30px); }
        div:nth-child(5) { transform: rotate(288deg) translateY(-30px); }
        input[type = "radio"] {
          appearance: none;
            position: absolute;
            border: 3px yellow;
            border-radius: 50%;
            top: 24px;
            left: 15px;
            width: 30px;
            height: 30px;
            background-color: yellow;
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }

input[type="radio"]:checked {
              background-color: white;
}
    }

    label:nth-of-type(1) {
        div:nth-child(1) { background-color: pink; }
        div:nth-child(2) { background-color: pink; }
        div:nth-child(3) { background-color: pink; }
        div:nth-child(4) { background-color: pink; }
        div:nth-child(5) { background-color: pink;  }
    }

    label:nth-of-type(2) {
        div:nth-child(1) { background-color: lightblue; }
        div:nth-child(2) { background-color: lightblue; }
        div:nth-child(3) { background-color: lightblue; }
        div:nth-child(4) { background-color: lightblue; }
        div:nth-child(5) { background-color: lightblue;  }
    }

    label:nth-of-type(3) {
        div:nth-child(1) { background-color: burlywood; }
        div:nth-child(2) { background-color: burlywood; }
        div:nth-child(3) { background-color: burlywood; }
        div:nth-child(4) { background-color: burlywood; }
        div:nth-child(5) { background-color: burlywood;  }
    }

    label:nth-of-type(4) {
        div:nth-child(1) { display: black;  }
        div:nth-child(2) { display: white;  }
        div:nth-child(3) { display: white;  }
        div:nth-child(4) { display: white; }
        div:nth-child(5) {display: white; }
    }

}

/* body> div:nth-last-of-type(1) > label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
} */




       div {
           position: relative;
           width: 100px;
           height: 100px;
       
       >div {
           position: absolute;
           width: 50px;
           height: 80px;
           background-color: pink;
           border-radius: 50%;
           opacity: 0.9;
       }

       div:nth-child(1) { transform: rotate(0deg) translateY(-30px); }
       div:nth-child(2) { transform: rotate(72deg) translateY(-30px); }
       div:nth-child(3) { transform: rotate(144deg) translateY(-30px); }
       div:nth-child(4) { transform: rotate(216deg) translateY(-30px); }
       div:nth-child(5) { transform: rotate(288deg) translateY(-30px); }
       input[type = "radio"] {
         appearance: none;
           position: absolute;
           border: 3px yellow;
           border-radius: 50%;
           top: 40%;
           left: 20%;
           width: 40px;
           height: 40px;
           background-color: yellow;
           border-radius: 50%;
           transform: translate(-50%, -50%);
       }

input[type="radio"]:checked {
             background-color: white;
}

}

/* ---------- */
/*    lente   */
/* ---------- */

html:has(body >div:nth-last-of-type(1) > label:nth-of-type(1) > input:checked) {
    --lente:checked;
}

@container style(--lente:checked) {
    html main {
        --lucht-gradient-zomer: var(--lucht-gradient-lente);
    }

    html p {
        --grond-gradient-zomer: var(--grond-gradient-lente);
        --grond-gradient-zomer2: var(--grond-gradient-lente2);
    }

    html li cirkel {
        background-image: var(--boom-bladeren-lente);
    }

    html {
        --licht-banner: var(--licht-banner-lente);
        --donker-banner: var(--donker-banner-lente);
        --licht-tekst: var(--licht-tekst-lente);
        --donker-tekst: var(--donker-tekst-lente);
    }
    html> body> div > label:nth-of-type(1) {
        div:nth-child(1) { outline: .4em solid  crimson; }
        div:nth-child(2) { outline: .4em solid crimson; }
        div:nth-child(3) { outline: .4em solid crimson; }
        div:nth-child(4) { outline: .4em solid crimson; }
        div:nth-child(5) { outline: .4em solid crimson;  }
    }
}

html:has(body >div:nth-last-of-type(1) > label:nth-of-type(2) > input:checked) {
    --zomer:checked;
}

@container style(--zomer:checked) {
    html> body> div > label:nth-of-type(2) {
        div:nth-child(1) { outline: .4em solid  brown; }
        div:nth-child(2) { outline: .4em solid brown; }
        div:nth-child(3) { outline: .4em solid brown; }
        div:nth-child(4) { outline: .4em solid brown; }
        div:nth-child(5) { outline: .4em solid brown;  }
    }
}

/* ---------- */
/*   herfst   */
/* ---------- */

html:has(body >div:nth-last-of-type(1) > label:nth-of-type(3) > input:checked) {
    --herfst:checked;
}

@container style(--herfst:checked) {

    html main {
        --lucht-gradient-zomer: var(--lucht-gradient-herfst);
    }
    html p {
        --grond-gradient-zomer: var(--grond-gradient-herfst);
        --grond-gradient-zomer2: var(--grond-gradient-herfst2);
    }
    html li cirkel {
        background-image: var(--boom-bladeren-herfst);
    }
    html {
        --licht-banner: var(--licht-banner-herfst);
        --donker-banner: var(--donker-banner-herfst);
        --licht-tekst: var(--licht-tekst-herfst);
        --donker-tekst: var(--donker-tekst-herfst);
    }

    html> body> div > label:nth-of-type(3) {
        div:nth-child(1) { outline: .4em solid  brown; }
        div:nth-child(2) { outline: .4em solid brown; }
        div:nth-child(3) { outline: .4em solid brown; }
        div:nth-child(4) { outline: .4em solid brown; }
        div:nth-child(5) { outline: .4em solid brown;  }
    }
}

/* ---------- */
/*   winter   */
/* ---------- */
html:has(body >div:nth-last-of-type(1) > label:nth-of-type(4) > input:checked) {
    --winter:checked;
}

@container style(--winter:checked) {
    html main {
        --lucht-gradient-zomer: var(--lucht-gradient-winter);
    }

    html p{
        --grond-gradient-zomer: var(--grond-gradient-winter);
        --grond-gradient-zomer2: var(--grond-gradient-winter2);

    }
    html li cirkel {
        background-image: var(--boom-bladeren-winter);
    }


    html li cirkel:nth-of-type(7),
    html li cirkel:nth-of-type(6),
    html li cirkel:nth-of-type(4),
    html li cirkel:nth-of-type(2) {
        display: none;
    }

    html li cirkel:nth-of-type(3){
        --size-cirkel: 1.5;
        --x-cirkel: 0.2;
        --y-cirkel: -.8;
    }

    html li cirkel:nth-of-type(5){
        --size-cirkel: 1.2;
        --x-cirkel: -0.3;
        --y-cirkel: -.5;
    }
    html li cirkel:nth-of-type(1){
        --size-cirkel: 0.8;
        --x-cirkel: 0.3;
        --y-cirkel: .2;
    }

    html li{
        height: 55%;
        }

        body> div >div:nth-of-type(2){
            background-color: transparent;
            background-image: radial-gradient(
            circle at 25% 25% in oklch,
                rgb(195, 195, 159) 25%,
                  rgb(237, 222, 136) 50%,
                rgb(205, 163, 84) 66%,
                transparent);
            border-radius: 50%;
            height: 22dvh;
            width: 22dvh;
            position: absolute;
            top: 2%;
            left: 82%;
        
            overflow: hidden;
            position: relative;
        
        }
        
        html {
            --licht-banner: var(--licht-banner-winter);
            --donker-banner: var(--donker-banner-winter);
            --licht-tekst: var(--licht-tekst-winter);
            --donker-tekst: var(--donker-tekst-winter);
        }

        html> body> div > label:nth-of-type(4) {
            div:nth-child(1) { outline: .4em solid  black; }
            div:nth-child(2) { outline: .4em solid black; }
            div:nth-child(3) { outline: .4em solid black; }
            div:nth-child(4) { outline: .4em solid black; }
            div:nth-child(5) { outline: .4em solid black    ;  }
        }
}