/* code voor de wolken https://css-shape.com/cloud/ */

:root{
    --wolk-kleur:  radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    --wolk-mask: var(--wolk-kleur) 100% 100%/30% 60%, var(--wolk-kleur) 70% 0/50% 100%, var(--wolk-kleur) 0 100%/36% 68%, var(--wolk-kleur) 27% 18%/26% 40%, linear-gradient(#000 0 0) bottom/67% 58% no-repeat;

}

/* animatie voor de wolken */

@keyframes moveCloud {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(150vw);
    }
}



/* ######################## */
/*         wolk 1           */
/* ######################## */

body >main > div:nth-of-type(n + 2) {
    height: var(--w-height, 6em);
    aspect-ratio: 1.8;

    mask: var(--wolk-mask);
    background: var(--schaduw-lucht);

    left: var(--w-left, -5%);
    top: var(--w-top, 2%);

    position: absolute;
    opacity: var(--w-opacity, 0.6);

    animation: moveCloud var(--w-dur, 40s) var(--w-del, -10s) linear infinite;
    z-index: 3;
}

/* ######################## */
/*         wolk 2           */
/* ######################## */


body > main > div:nth-of-type(3) {
    --w-height: 2em;
    --w-top: 40%;
    --w-opacity: 0.7;
    --w-dur:30s;
    --w-delay: -5s;
}

/* ######################## */
/*         wolk 3           */
/* ######################## */

body > main > div:nth-of-type(4) {
    --w-height: 4em;
    --w-left: -5%;
    --w-top: 20%;
    --w-opacity: 0.5;
    --w-dur:26s;
    --w-delay: -2s;
}


/* ######################## */
/*         wolk 4           */
/* ######################## */


body > main > div:nth-of-type(5) {
    --w-height: 7em;
    --w-left: -5%;
    --w-top: 28%;
    --w-opacity: 0.9;
    --w-dur:25s;
    --w-delay: -20s;
}


/* ######################## */
/*         wolk 5           */
/* ######################## */

body > main > div:nth-of-type(6) {
    --w-height: 8em;
    --w-left: -5%;
    --w-top: 18%;
    --w-opacity: 0.4;
    --w-dur:40s;
    --w-delay: -25s;
}

